body {
    margin: auto;
    background: #E5DCD1;
}

#content {
    width: 70%;
    margin: auto;
    color: #BEA594;
    font-size: large;
    margin-top: 10%;
}

#btnArea {
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
}

button.checkBtn {
    width: 30%;
    background: none;
    border: 1px solid #BEA594;
    color: #BEA594;
    border-radius: 10%;
}